#navbar {
  width: 100%;
  display: flex;
  background-color: var(--background);
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 3em;
  border-bottom: 2px solid var(--secondary);
  transition: all 0.3s, color 0.3s;
  margin-bottom: 2rem;
}
#search_bar {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary);
  padding: 0.1em 0.5em;
  border-radius: 25px;
}
#search_bar input {
  width: 95%;
  background-color: inherit;
  border: none;
  outline: none;
  color: var(--white);
  font-size: 1em;
}
#search_bar input::placeholder {
  color: var(--revsecondary);
}
#search_bar button {
  border: none;
  background-color: inherit;
}

.logo {
  font-size: 2em;
  color: var(--secondary);
}
.logo:hover {
  color: var(--accent);
}

.pages {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  font-size: 1.3em;
  gap: 1em;
  align-items: center;
}
.pages a {
  color: var(--secondary);
}
.pages a:hover {
  color: var(--accent);
}

#darkmode_bttn {
  cursor: pointer;
  background-color: inherit;
  border: 1px solid var(--border);
  aspect-ratio: 1/1;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
}

#darkmode_bttn:hover {
  border: 1px solid var(--text);
}
