:root {
  --text: #000000;
  --background: #e7e7e7;
  --primary: #dedede;
  --secondary: #971818;
  --accent: #fb0808;
  --revtext: #ffffff;
  --revbackground: #000000;
  --revprimary: #222222;
  --white: #ffffff;
  --border: #c5c5c5;
  --grey: #808080;
}

[data-theme="dark"] {
  --text: #ffffff;
  --background: #131313;
  --primary: #222222;
  --secondary: #971818;
  --accent: #fb0808;
  --revtext: #000000;
  --revbackground: #ffffff;
  --revprimary: #dedede;
  --border: #5f5f5f;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

/* button {
  background: var(--primary);
  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 10px;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

button:hover {
  color: var(--background);
  border-color: var(--background);
  background-color: var(--accent);
  box-shadow: 0 5px 15px var(--text);
} */
